@import "./variables";

.login-vh-card{
    height: 80vh;
}

.login-high{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary;
    border-radius: 32px;
}

.btn-reg{
    background-color: $primary;
    width: 100%;
    height: 45px;
    border-radius: 12px;
    color: $third;
    border: 1.5px solid $fourth;
    transition: 0.3s;
    font-size: 18px;
    font-weight: 600;
}

.btn-reg:hover{
    background-color: $third;
    border: 1.5px solid $third;
    color: $primary;
}


.btn-contact{
    width: 100%;
    height: 45px;
    border-radius: 12px;
    color: $primary;
    border: 0.5px solid $third;
    transition: 0.3s;
    font-size: 18px;
    font-weight: 600;
    background-color: $third;

}

.btn-contact:hover{
    background-color: $primary;
    border: 1.5px solid $fourth;
    color: $third;
}

.contact h3{
    font-size:32px;
    font-weight: 700;
    margin-bottom: 20px;
    color: $text;
    text-transform: uppercase;
}

.style-contact {
    height: 70vh;
    margin-bottom: 30px;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .style-contact {
        height: auto; /* Adjust height based on content */
    }
}

@media screen and (max-width: 480px) {
    .style-contact {
        margin-bottom: 20px; /* Adjust margin for smaller screens */
    }
}
