@import "./variables";

.vh-services {
    height: 100%;
    margin-top: 16px;
}

.service {
    padding: 22px;
}

.service h3 {
    padding-top: 12px;
    font-size: 32px;
    color: $text;
    font-weight: 700;
    font-style: to-upper-case($string: "");
}

.service p {
    font-size: 16px;
    line-height: 26px;
    max-width: 570px;
    font-weight: 500;
}

.card-service {
    width: calc(33.33% - 20px);
    /* Adjust the width for three cards per row */
    padding: 50px 35px;
    min-height: 1px;
    margin: 0 10px 20px;
    /* Adjust margin for spacing */
    background-color: $secondary;
    border-radius: 12px;
    transition: 0.8s;
    margin-top: 18px;
    @media (max-width: 768px) {
        width: calc(50% - 20px);
        /* Adjust width for two cards per row on smaller screens */
    }

    @media (max-width: 576px) {
        width: calc(100% - 20px);
        /* Full width for one card per row on smaller screens */
    }
}

.card-service:hover {
    cursor: pointer;
    box-shadow: 0 10px 30px #00000014;
}



.icon-service {
    font-size: 60px;
    color: #FFF;
    margin-bottom: 35px;
    transition: 0.8s;
}

.card-service:hover .icon-service {
    color: $fourth;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-service h4 {
    font-size: 22x;
    font-weight: 700;
    margin-bottom: 20px;
    color: $primary !important;
    text-transform: uppercase;
}

.card-service p {
    line-height: 26px;
    font-size: 16px;
    font-weight: 400;
    color: $fourth !important;
}

.card-project {
    width: calc(33.33% - 20px);
    height: 330px;
    padding: 50px 35px;
    min-height: 1px;
    margin: 0 10px 20px;
    margin-bottom: 30px;
    height:40vh !important;
    border-radius: 12px;
    transition: 1s;

    @media (max-width: 768px) {
        width: calc(50% - 20px);
        /* Adjust width for two cards per row on smaller screens */
    }

    @media (max-width: 576px) {
        width: calc(100% - 20px);
        /* Full width for one card per row on smaller screens */
    }
}



.card-project:hover h4 {
    transition: 0.4s;
    background-color: $third;
    padding: 12px;
    border-radius: 12px;
    color: $primary;
}

.card-project:hover {
    cursor: pointer;
    box-shadow: 0 10px 30px #00000014;
}


.project-vh{
    background-color: $fourth !important;
}

.project-vh h3{
    padding-top: 32px;
    padding-bottom: 12px;
    font-size: 32px;
    color: $text;
    font-weight: 700;
    font-style: to-upper-case($string: "");
}

.project-vh p{
    font-size: 16px;
    line-height: 26px;
    max-width: 570px;
    font-weight: 500;
}
