@import "./variables";

.skills-vh {
    height: 100vh;
}

.lottie-logos {
    position: relative;
    top: 20px;
    height: 182px;
}

.style-card {
    background-color: $secondary;
    border-radius: 22px;
}

.card-flex {
    position: relative;
    left: 3% !important;
}

@media (min-width: 410px) {
    .card-flex {
        position: relative;
        left: 12%;
    }
}

@media (min-width: 768px) {
    .card-flex {
        position: relative;
        left: 3% !important;
    }
}